APP_ENV=production
APP_DEBUG=false
APP_URL=https://ton-domaine.com

LOG_CHANNEL=stderr
LOG_LEVEL=warning

SESSION_SECURE_COOKIE=true
SESSION_ENCRYPT=true
SESSION_SAME_SITE=lax

CACHE_STORE=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis

MAIL_MAILER=smtp
REDIS_CLIENT=phpredis
REDIS_HOST=HOST_INTERNE_FOURNI_PAR_COOLIFY
REDIS_USERNAME=whaorder_redis
REDIS_PASSWORD=MOT_DE_PASSE_REDIS_FOURNI_PAR_COOLIFY
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_DB=1
